<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mixitmedia.ghostcatcher.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="ca.mixitmedia.ghostcatcher.app.communicator"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mixitmedia.ghostcatcher.app.Journal"
            android:label="@string/title_activity_journal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:label="@string/app_name"
            android:name="FakePlayer"></activity>

        <service
            android:name=".gcMediaService"
            android:enabled="true"
            android:exported="false">

        </service>
    </application>

</manifest>
