<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mixitmedia.ghostcatcher.app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="ca.mixitmedia.ghostcatcher.app.communicator"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mixitmedia.ghostcatcher.app.Journal"
            android:label="@string/title_activity_journal"
            android:parentActivityName="ca.mixitmedia.ghostcatcher.app.communicator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="communicator" />
        </activity>
    </application>

</manifest>
